<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.sboard.board.BoardMapper">
	<insert id="insBoard" useGeneratedKeys="true" keyProperty="i_board">
		INSERT INTO t_board
		(typ, seq, title, ctnt, i_user)
		SELECT #{typ}, IFNULL(MAX(seq), 0) + 1, #{title}, #{ctnt}, #{i_user} FROM t_board
		WHERE typ = #{typ}
	</insert>
	
	<select id="selMaxPageNum" resultType="_int">
		SELECT CEIL(COUNT(A.i_board) / #{recordCntPerPage}) FROM t_board A
		INNER JOIN t_user B
		ON A.i_user = B.i_user
		WHERE A.typ = #{typ}
		<if test="searchType == 1">
			AND A.title LIKE '%${searchText}%'
		</if>
		<if test="searchType == 2">
			AND A.ctnt LIKE '%${searchText}%'
		</if>
		<if test="searchType == 3">
			AND (A.title LIKE '%${searchText}%' OR A.ctnt LIKE '%${searchText}%')
		</if>
		<if test="searchType == 4">
			AND B.nm LIKE '%${searchText}%'
		</if>
	</select>
	
	<select id="selBoardList" resultType="BoardDomain">
		SELECT A.i_board, A.seq, A.title, A.r_dt, A.hits
		, B.i_user, B.nm AS writer_nm, B.profile_img
		, ifnull(C.favorite_cnt, 0) AS favorite_cnt
		FROM t_board A
		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		LEFT JOIN (
			SELECT i_board, COUNT(i_board) AS favorite_cnt
			FROM t_board_favorite
			GROUP BY i_board
		) C 
		ON A.i_board = C.i_board
		WHERE A.typ = #{typ}
		<if test="searchType == 1">
			AND title LIKE CONCAT('%', #{searchText}, '%')
		</if>
		<if test="searchType == 2">
			AND A.ctnt LIKE '%${searchText}%'
		</if>
		<if test="searchType == 3">
			AND (A.title LIKE '%${searchText}%' OR A.ctnt LIKE '%${searchText}%')
		</if>
		<if test="searchType == 4">
			AND B.nm LIKE '%${searchText}%'
		</if>
		ORDER BY seq DESC
		LIMIT #{sIdx}, #{recordCntPerPage}
	</select>
	
	<select id="selBoard" resultType="BoardDomain">
		SELECT A.i_board, A.typ, A.seq, A.title, A.ctnt, A.r_dt, A.hits
				, B.i_user, B.nm AS writer_nm, B.profile_img
				, ifnull(C.favorite_cnt, 0) AS favorite_cnt
				, CASE WHEN D.i_board IS NULL THEN 0 ELSE 1 END AS is_favorite
				
				FROM t_board A
				LEFT JOIN t_user B
				ON A.i_user = B.i_user
				
				LEFT JOIN (
					SELECT i_board, COUNT(i_board) AS favorite_cnt
					FROM t_board_favorite
					GROUP BY i_board
				) C 
				ON A.i_board = C.i_board
				
				LEFT JOIN t_board_favorite D
				ON A.i_board = D.i_board
				AND D.i_user = #{i_user}
				
				WHERE A.i_board = #{i_board}
	</select>
	
	<update id="updBoard">
		UPDATE t_board
		SET title = #{title}
		, ctnt = #{ctnt}
		WHERE i_board = #{i_board}
		AND i_user = #{i_user}
	</update>
	
	<update id="updBoardHits">
		UPDATE t_board
		SET hits = hits + 1
		WHERE i_board = #{i_board}
	</update>
	
	<delete id="delBoard">
		DELETE FROM t_board
		WHERE i_board = #{i_board}
		AND i_user = #{i_user}
	</delete>
	
	
	
	<!-- /////////////////////////// CMT //// -->
	
	<insert id="insCmt">
		INSERT INTO t_board_cmt
		( i_board, i_user, ctnt )
		VALUES
		( #{i_board}, #{i_user}, #{ctnt} )
	</insert>
	
	<select id="selCmtList" resultType="BoardCmtDomain">
		SELECT 
		A.i_cmt, A.i_board, A.ctnt, date_format(A.r_dt, '%y-%m-%d %H:%i') AS r_dt
		, B.i_user, B.nm AS user_nm
		, B.profile_img AS user_img
		, CASE WHEN A.i_user = #{i_user} THEN 1 ELSE 0 END is_mycmt
		FROM t_board_cmt A
		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		WHERE A.i_board = #{i_board}
		ORDER BY i_cmt DESC
	</select>
	
	<update id="updCmt">
		UPDATE t_board_cmt
		SET ctnt = #{ctnt}
		WHERE i_cmt = #{i_cmt} AND i_user = #{i_user}
	</update>
	
	<delete id="delCmt">
		DELETE FROM t_board_cmt
		WHERE i_cmt = #{i_cmt} AND i_user = #{i_user}
	</delete>	
	
</mapper>  







