@charset "UTF-8";
* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

section {
	position: relative;
}

a {
	text-decoration: none;
}

.pointer {
	cursor: pointer;
}

tr.pointer:hover {
	background-color: #d2dae255;
}

#container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.selectedBoard {
	background-color: #e74c3c;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}
header ul:after{
    content:'';
    display: block;
    clear:both;
}
header ul li {
    float: left;
}
header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;    
}

header ul li a:hover:not(.active) {
    background-color: #111;
}

.centerCont {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container section {
	flex-grow: 1;
	padding: 20px;
}

.pageContainer {
	text-align: center;
}

.circular--landscape {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #ecf0f1;
}

.circular--size40 {
	width: 40px;
	height: 40px;
}

.circular--size200 {
	width: 200px;
	height: 200px;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  /* margin-left: -50px; */
}


.profile-td {
	display: flex;
    align-items: center;
}

.profile-td .profile-td-nm {
	display: inline-block;
    margin-left: 10px;
}

.w100 {
	width: 100px;
}

.w200 {
	width: 200px;
}



/**************** 모달창 [start] ************/

.modal_wrap {
    display: none;
    width: 400px;
    height: 200px;
    position: fixed;
    top: 40%;
    left: 30%;    
    background:#eee;
    z-index: 2;
}
.black_bg {
    display: none;
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}
.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}

/**************** 모달창 [end] ************/
