<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.sboard.CommonMapper">
	<select id="selManageBoardList" resultType="ManageBoardEntity">
		SELECT typ, nm
		FROM t_manage_board
		WHERE orderby
	</select>
</mapper>  







